<div id="content"><h3 id="">低级趣味码农一枚</h3>

<p>85后，现居杭州（单间带厕所，10平米农民房）。</p>

<p>生于三省边境某少数民族自治县，县城人口小于10万，3岁时到过地级市，从此直到考上大学，再也没出过该县城。</p>

<p>小学中学时代，家长老师心中的好学生，男同学心中的好哥们，女同学心中的高帅穷。</p>

<p>高考进入本省省会某大学，由于分数不够土木专业，就读于软件工程专业，决定了今后的屌丝命运，由于写代码也称搬砖，部分满足了学土木的愿望。</p>

<p>大学感谢敬爱的英语老师，无挂科，顺利毕业，同时结识了一批至今奋斗在国内各大IT公司的一线码农。</p>

<p>大三暑假进入某外企实习，被坑，怒辞，大四开学回学校参加校园招聘。</p>

<p>校招进入某上市互联网公司，同时由c++转成java。由于自身和公司的各种原因，一年后辞职。</p>

<p>进入现在公司，同样为互联网行业，工作至今。</p></div>